body {
	background-color: #dbd3cc;
	}
img {cursor: url('../img/cursor.png'), auto;}
.container {

	width: 680px;
	padding: 70px 30px;
	margin: auto;
	font-weight: 300;
	z-index: 2;
}

.container2 {

	width: 680px;
	padding: 70px 30px;
	margin: auto;
	font-weight: 300;

}




.s1crop{
	position: absolute;
	left:180;
	top:60;
	opacity:1;
}

.s1crop:hover{
	position: absolute;
	left:180;
	top:60;
}

.s1full{
	position: absolute;
	left:-326;
	top:-225;
	opacity: 1;
	z-index: -2;
	display: none;
}


.i1crop{
	position: absolute;
	left:312;
	top:60;
	opacity:1;
}

.i1crop:hover{
	position: absolute;
	left:312;
	top:60;
}

.i1full{
	position: absolute;
	top: 60;
	left: 26;
	opacity: 1;
	z-index: -2;
	display: none;
}

#s2crop{
	position: absolute;
	left:380;
	top:60;
	opacity:1;
}

.s2crop:hover{
	position: absolute;
	left:380;
	top:60;
}


.s2full{
	position: absolute;
	top: -220;
	left: -120;
	opacity: 1;
	z-index: -2;
	display: none;
}

.tercrop{
	position: absolute;
	left: 500;
	top:60;
	opacity: 1;
}

.tercrop:hover{
	position: absolute;
	left: 500;
	top:60;
}




.terfull{
	position: absolute;
	top: -9.6;
	left: 59.6;
	opacity: 1;
	z-index: -2;
	display: none;
}


.c1crop{
	position: absolute;
	left: 760;
	top:140;
	opacity: 1;
}

.c1crop:hover{
	position: absolute;
	left: 760;
	top:140;

}

.c1full{
	position: absolute;
	top: 66;
	left: 643;
	opacity: 1;
	z-index: -2;
	display: none;
}

.orcrop{
	position: absolute;
	left: 796;
	top:140;
	opacity: 1;
}

.orcrop:hover{
	position: absolute;
	left: 796;
	top:140;
	
}

.orfull{
	position: absolute;
	top: -176.5;
	left:612;
	opacity: 1;
	z-index: -2;
	display:none;
}


.i2crop{
	position: absolute;
	left: 898;
	top:140;
	opacity: 1;
}

.i2crop:hover{
	position: absolute;
	left: 898;
	top:140;
}

.i2full{
	position: absolute;
	top: -120;
	left: 636;
	opacity: 1;
	z-index: -2;
	display: none;
}

.t1crop{
	position: absolute;
	left: 950;
	top:140;
	opacity: 1;
}


.t1crop:hover{
	position: absolute;
	left: 950;
	top:140;
}

.t1full{
	position: absolute;
	top: 140;
	left: 922.5;
	opacity: 1;
	z-index: -2;
	display: none;
}


.a1crop{
	position: absolute;
	left: 990;
	top:140;
	opacity: 1;
}

.a1crop:hover{
	position: absolute;
	left: 990;
	top:140;
}

.a1full{
	position: absolute;
	top: 68;
	left: 849;
	opacity: 1;
	z-index: -2;
	display: none;
}


.k1crop{
	position: absolute;
	left: 760;
	top:218;
	opacity: 1;
}

.k1crop:hover{
	position: absolute;
	left: 760;
	top:218;
}


.k1full{
	position: absolute;
	top: 53;
	left: 434;
	opacity: 1;
	z-index: -2;
	display: none;
}

.encrop{
	position: absolute;
	left: 830;
	top:218;
	opacity: 1;
}

.encrop:hover{
	position: absolute;
	left: 830;
	top:218;
}

.enfull{
	position: absolute;
	top: 208;
	left: 628;
	opacity: 1;
	z-index: -2;
	display: none;
}

.t2crop{
	position: absolute;
	left: 995;
	top:218;
	opacity: 1;
}


.t2crop:hover{
	position: absolute;
	left: 995;
	top:218;
}

.t2full{
	position: absolute;
	top: -3.8;
	left: 636;
	opacity: 1;
	z-index: -2;
	display: none;
}

.a2crop{
	position: absolute;
	left: 180;
	top:300;
	opacity: 1;
}


.a2crop:hover{
	position: absolute;
	left: 180;
	top:300;
}

.a2full{
	position: absolute;
	top: 300;
	left: -17;
	opacity: 1;
	z-index: -2;
	display: none;
}


.c2crop{
	position: absolute;
	left: 224;
	top:300;
	opacity: 1;
}


.c2crop:hover{
	position: absolute;
	left: 224;
	top:300;
}

.c2full{
	position: absolute;
	top: 291;
	left: 122;
	opacity: 1;
	z-index: -2;
	display: none;
}


.t3crop{
	position: absolute;
	left: 257;
	top:300;
	opacity: 1;
}


.t3crop:hover{
	position: absolute;
	left: 257;
	top:300;
}

.t3full{
	position: absolute;
	top: 275.4;
	left: 76.5;
	opacity: 1;
	z-index: -2;
	display: none;
}

.ivcrop{
	position: absolute;
	left: 296;
	top:300;
	opacity: 1;
}


.ivcrop:hover{
	position: absolute;
	left: 296;
	top:300;
}

.ivfull{
	position: absolute;
	top: 302;
	left:447;
	opacity: 1;
	z-index: -2;
	display: none;
}

.iscrop{
	position: absolute;
	left: 361;
	top:300;
	opacity: 1;
}


.iscrop:hover{
	position: absolute;
	left: 361;
	top:300;
}

.isfull{
	position: absolute;
	top: 329.2;
	left:554.8;
	opacity: 1;
	z-index: -2;
	display: none;
}


.m1crop{
	position: absolute;
	left: 408;
	top:300;
	opacity: 1;
}


.m1crop:hover{
	position: absolute;
	left: 408;
	top:300;
}

.m1full{
	position: absolute;
	top: 346;
	left:584;
	opacity: 1;
	z-index: -2;
	display: none;
}


.a3crop{
	position: absolute;
	left: 510;
	top:360;
	opacity: 1;
}


.a3crop:hover{
	position: absolute;
	left: 510;
	top:360;
}

.a3full{
	position: absolute;
	top: 180;
	left:140;
	opacity: 1;
	z-index: -2;
	display: none;
}


.ndcrop{
	position: absolute;
	left: 620;
	top:360;
	opacity: 1;
}


.ndcrop:hover{
	position: absolute;
	left: 620;
	top:360;
}



.ndfull{
	position: absolute;
	top: 306;
	left:539;
	opacity: 1;
	z-index: -2;
	display: none;
}


.p1crop{
	position: absolute;
	left: 450;
	top:500;
	opacity: 1;
}


.p1crop:hover{
	left:450;
	top:500;
	top:500;
	
}

.p1full{
	position: absolute;
	top: 500;
	left:450;
	opacity: 1;
	z-index: -2;
	display: none;
}

.l1crop{
	position: absolute;
	left: 486;
	top:500;
	opacity: 1;
}


.l1crop:hover{
	position: absolute;
	left: 486;
	top:500;
}

.l1full{
	position: absolute;
	top: 308;
	left:225.8;
	opacity: 1;
	z-index: -2;
	display: none;
}

.aycrop{
	position: absolute;
	left: 524;
	top:500;
	opacity: 1;
}


.aycrop:hover{
	position: absolute;
	left: 524;
	top:500;
}

.ayfull{
	position: absolute;
	top: 346;
	left:412;
	opacity: 1;
	z-index: -2;
	display: none;
}

.f1crop{
	position: absolute;
	left:634;
	top:500;
	opacity: 1;
}


.f1crop:hover{
	position: absolute;
	left:634;
	top:500;
	
}

.f1full{
	position: absolute;
	top: 405;
	left:549;
	opacity: 1;
	z-index: -2;
	display: none;
}

.u1crop{
	position: absolute;
	left:656;
	top:500;
	opacity: 1;
}

.u1crop:hover{
	position: absolute;
	left:656;
	top:500;
}

.l2crop{
	position: absolute;
	left:718;
	top:500;
	opacity: 1;
	
}
.l2crop:hover{
	position: absolute;
	left:718;
	top:500;
	
}
.n1crop{
	position: absolute;
	left:740;
	top:500;
	opacity: 1;
	z-index: 4;
}

.n1crop:hover{
	position: absolute;
	left:740;
	top:500;

}
.escrop{
	position: absolute;
	left:792;
	top:500;
	opacity: 1;
}

.escrop:hover{
	position: absolute;
	left:792;
	top:500;
}

.s3crop{
	position: absolute;
	left:874;
	top:500;
	opacity: 1;
}
.s3crop:hover{
	position: absolute;
	left:874;
	top:500;
}

button{

	position: absolute;
	bottom: 10px;
	right: 25px;
	padding: 0;
	border: none;
	background: none;
}
button:focus {outline:0;}
@font-face {
	font-family: 'plume';
	src: url("assets/Plume-Free-Brush-Font.otf") format("opentype");
}
h1 {font-size: 50;}
.h2 {font-family: helvetica;
	font-weight: normal;
font-size:22;}


#slider{
	text-align: center;
	font-family: "flood-std";
	color: white;
	background:rgb(32,28,200);
	padding:180px;
	height:440px;
	width:820px;
	position:relative;
	left:-1700px;
	top:-240px;   

}
.open{
	left:-10px !important;

}


.transition{

	-webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}


