body {
	background-color: #ededed;
}

#image {
	padding-top: 40px;
margin: auto;
	background: #ededed;
}	

img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p { 
	text-align: center;
font-family: helvetica;
font-size: 18;
}

 .h2 {
 	color: gray;
 	font-size: 12;
 }
button{
	cursor: url('../img/cursor.png'), auto;
	position: absolute;
	bottom: 10px;
	right: 25px;
	padding: 0;
	border: none;
	background: none;
}

button:focus {outline:0;}

#back{
	cursor: url('../img/cursor.png'), auto;
	position: absolute;
	bottom: 5px;
	right: 50px;
	padding: 0;
	border: none;
	background: none;
}


@font-face {
	font-family: 'plume';
	src: url("assets/Plume-Free-Brush-Font.otf") format("opentype");
}


#slider{
	text-align: center;
	font-family: "flood-std";
	color: white;
	background:#4377bc;
	padding:160px;
	height:440px;
	width:860px;
	position:relative;
	left:-1400px;
	top:-600;  


}
.open{
	left:-10px !important;

}


.transition{

	-webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}